:root {
  --white: #fff;

  --blue: #1d4ed8;
  --blue-dark: #1e40af;

  --green-light: #22c55e;
  --green: #15803d;
  --green-dark: #166534;

  --red: #b91c1c;
  --red-dark: #991b1b;

  --slate: #334155;
  --slate-dark: #1e293b;
  --slate-darkest: #0f172a;

  --teal: #63b3ed;

  --primary: #334155;
  --primary-dark: #1e293b;

  --shadow: rgba(0, 0, 0, 0.05);
  --shadow-blue: rgba(59, 130, 246, 0.5);
}
